extends layout 
block content 
    h1 Tout les Articles 
    each article in articles 
        .card(style="width: 18rem;")
        .card-body
            h5.card-title= article.title
            p.card-text= article.description
            a.btn.btn-primary(href=`/articles/${article.id}`) More
